:root {
  --colorGradientMain: linear-gradient(
    94deg,
    rgba(64, 14, 205, 1) 0%,
    rgba(75, 14, 186, 1) 21%,
    rgba(86, 14, 169, 1) 41%,
    rgba(107, 30, 172, 1) 64%,
    rgba(133, 56, 193, 1) 83%,
    rgba(153, 77, 209, 1) 100%
  );
  --whiteColor: #fff;
  font-family: system-ui;
  --grapeColor: #6a1bbf;
  --backColor: #000;
}

.gap50 {
  gap: 50px;
}

.gap20 {
  gap: 20px;
}

.gap10 {
  gap: 10px;
}

.colorGrapeColor {
  color: var(--grapeColor);
}

.bgGradient {
  background: var(--colorGradientMain);
}

.header {
  transition: background-color 0.3s ease;
}

.header.fixed {
  background: var(--whiteColor);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttonCustomWithBorder {
  color: var(--grapeColor);
  transition: all 0.5s ease;
}

.buttonCustomWithoutBorder {
  background: rgb(64, 14, 205);
  background: linear-gradient(
    94deg,
    rgba(64, 14, 205, 1) 0%,
    rgba(75, 14, 186, 1) 21%,
    rgba(86, 14, 169, 1) 41%,
    rgba(107, 30, 172, 1) 64%,
    rgba(133, 56, 193, 1) 83%,
    rgba(153, 77, 209, 1) 100%
  );
  transition: all 0.5s ease;
}

.buttonCustomWithoutBorder:hover {
  background: var(--whiteColor);
  color: var(--grapeColor);
  background: -webkit-linear-gradient(
    94deg,
    rgba(64, 14, 205, 1) 0%,
    rgba(75, 14, 186, 1) 21%,
    rgba(86, 14, 169, 1) 41%,
    rgba(107, 30, 172, 1) 64%,
    rgba(133, 56, 193, 1) 83%,
    rgba(153, 77, 209, 1) 100%
  );
  -webkit-background-clip: text;

  border-image: linear-gradient(
      94deg,
      rgba(64, 14, 205, 1) 0%,
      rgba(75, 14, 186, 1) 21%,
      rgba(86, 14, 169, 1) 41%,
      rgba(107, 30, 172, 1) 64%,
      rgba(133, 56, 193, 1) 83%,
      rgba(153, 77, 209, 1) 100%
    )
    1;
}

.buttonCustomWithBorder:hover {
  background: rgb(64, 14, 205);
  background: linear-gradient(
    94deg,
    rgba(64, 14, 205, 1) 0%,
    rgba(75, 14, 186, 1) 21%,
    rgba(86, 14, 169, 1) 41%,
    rgba(107, 30, 172, 1) 64%,
    rgba(133, 56, 193, 1) 83%,
    rgba(153, 77, 209, 1) 100%
  );
  color: var(--whiteColor);
}

.bannerHeader::before {
  content: "";
  background-image: url("../imgs/bgBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
}

.openMenu,
.closeMenu {
  display: none;
}

#introduce {
  padding-top: 180px;
}

.tab-button {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--whiteColor);
  padding-bottom: 10px;
}

.tab-button.active {
  color: var(--grapeColor);
  border-bottom-color: var(--grapeColor);
}

.tab-button:hover {
  border-image: linear-gradient(
      94deg,
      rgba(64, 14, 205, 1) 0%,
      rgba(75, 14, 186, 1) 21%,
      rgba(86, 14, 169, 1) 41%,
      rgba(107, 30, 172, 1) 64%,
      rgba(133, 56, 193, 1) 83%,
      rgba(153, 77, 209, 1) 100%
    )
    1;
  color: var(--grapeColor);
  transition: color 0.5s ease;
}

.tab-item {
  background: var(--whiteColor);
  color: var(--backColor);
  box-shadow: 5px 5px 10px 1px rgba(201, 201, 201, 1);
}

.tab-item:hover {
  background: var(--colorGradientMain);
  color: var(--whiteColor);
}

.hiddenDecs {
  display: none;
}

.newItem:hover .newItemTitle {
  color: var(--grapeColor);
}

.sponsorshipItem.show {
  display: flex;
}

.menuNavItem {
  border-bottom: transparent 1px solid;
}

.menuNavItem:hover {
  color: var(--grapeColor);
  border-bottom: var(--grapeColor) 1px solid;
}

@media screen and (max-width: 1200px) {
  #instructItem {
    gap: 10px;
  }
  .bannerHeader {
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .openMenu,
  .closeMenu {
    display: block;
  }

  #menu {
    flex-direction: column;
    background: var(--whiteColor);
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: -100%;
    align-items: baseline;
    transition: right 0.5s ease;
  }
  #menu.active {
    right: 20px;
  }
}

.image-item {
  flex: 1 1 calc((100% / 3) - 50px);
}

@media (max-width: 992px) {
  .image-item {
    flex: 1 1 calc(25% - 10px);
  }

  #imageSpeakerContent {
    gap: 10px;
  }

}

@media (max-width: 600px) {
  .image-item {
    flex: 1 1 calc(40% - 10px);
  }
}
